<ion-item>
  <ion-label> {{simulation.name}} </ion-label>
  <ion-label>
    {{simulation.runs}} sims
    <ng-template let-timeSpan="aVariable"
      [ngTemplateOutletContext]="{ aVariable: +(simulation.endTime) - +(simulation.startTime) }"
      [ngTemplateOutlet]="selfie" #selfie>
      in {{timeSpan}} time
    </ng-template>
    on {{simulation.cpus}} CPUs
  </ion-label>
  <ion-row>
    <ion-label>
      <p> {{simulation.startTime.toLocaleString()}}</p>
      <p> {{simulation.location}}</p>
      <p>Budget: {{simulation.usedBudget}}</p>
    </ion-label>
  </ion-row>
</ion-item>