<ion-grid>
  <ion-label> {{simulation.name}} </ion-label>
  <ion-row>
    <ion-col>
      <ion-label position="floting">
        <ion-text color="primary">sims:</ion-text>{{simulation.runs}}
      </ion-label>
    </ion-col>
    <ion-col>

      <label-text label="duration" text="{{duration}}"></label-text>
    </ion-col>
    <ion-col>
      <label-text label="CPUs" text="{{simulation.cpus}}"></label-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-label position="floting">
        <p> {{simulation.startTime?.toLocaleString()}}</p>
      </ion-label>
    </ion-col>
    <ion-col>
      <ion-label position="floting">
        <p> {{simulation.location}} </p>
      </ion-label>
    </ion-col>
    <ion-col>
      <ion-label position="floting">
        <p>Budget: {{simulation.usedBudget}}</p>
      </ion-label>
    </ion-col>
  </ion-row>
</ion-grid>