<ion-grid>
  <ion-label> {{simulation.name}} </ion-label>
  <ion-row>
    <ion-col>
      <ion-label>
        <p>sims:</p>{{simulation.runs}}
      </ion-label>
    </ion-col>
    <ion-col>
      <ng-template let-timeSpan="aVariable"
        [ngTemplateOutletContext]="{ aVariable: +(simulation.endTime) - +(simulation.startTime) }"
        [ngTemplateOutlet]="selfie" #selfie>
        <ion-label>
          <p>time:</p>{{timeSpan}}
        </ion-label>
      </ng-template>
    </ion-col>
    <ion-col>
      <ion-label>
        <p>CPUs:</p> {{simulation.cpus}}
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-label>
        <p> {{simulation.startTime.toLocaleString()}}</p>
      </ion-label>
    </ion-col>
    <ion-col>
      <ion-label>
        <p> {{simulation.location}} </p>
      </ion-label>
    </ion-col>
    <ion-col>
      <ion-label>
        <p>Budget: {{simulation.usedBudget}}</p>
      </ion-label>
    </ion-col>
  </ion-row>
</ion-grid>