<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-title>Lap Sim</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>

        <ion-list *ngFor="let team of teams">
          <ion-item (click)="viewTeam(team)">
            <team [data]="team" [showDetails]="team.id === selectedTeam.id"></team>
          </ion-item>
        </ion-list>

      </ion-content>
    </ion-menu>

    <ion-router-outlet main></ion-router-outlet>

  </ion-split-pane>


</ion-app>