<ion-app>
  <ion-split-pane>
    <ion-menu content-id="content" auto-hide="false" persistent="true">
      <ion-header>
        <ion-toolbar>
          <ion-title>Lap Sim</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>

        <ion-list *ngFor="let team of teams">
          <ion-grid (click)="viewTeam(team)">
            <ion-row>
              {{team.name}}
              <ion-icon name="arrow-dropright" [hidden]="team.id === selectedTeam.id"></ion-icon>
              <ion-icon name="arrow-dropdown" [hidden]="team.id !== selectedTeam.id"></ion-icon>
            </ion-row>
            <ion-row [hidden]="team.id !== selectedTeam.id">
              <team [data]="team"></team>
            </ion-row>
          </ion-grid>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet main id="content"></ion-router-outlet>

  </ion-split-pane>


</ion-app>