<ion-list *ngFor="let leader of projectLeaders">
  <ion-item detail *ngIf="leader != null && selectedLeader !== leader" (click)="onItemSelected(leader)">
    <ion-label>
      {{leader.userName}}
    </ion-label>
  </ion-item>

  <ion-grid *ngIf="selectedLeader === leader" class="team-detail">
    <ion-row>
      <ion-label>
        <ion-text color="primary">
          {{leader.userName}}
        </ion-text>
      </ion-label>
    </ion-row>
    <ion-row>
      <teams [teamsToDisplay]="leader.teams"></teams>
    </ion-row>
  </ion-grid>
</ion-list>