<team-toolbar [team]="team" [readOnly]="false">
</team-toolbar>
<ion-content>
  <ion-list *ngFor="let account of accounts">
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-col>
              <label-text label="Name" text="{{account.info.name}}" canEdit="{{editActive}}"></label-text>
            </ion-col>
            <ion-col>
              <label-text label="CPUs" text="{{account.info.cpus}}" canEdit="{{editActive}}" type="number"></label-text>
            </ion-col>
            <ion-col>
              <label-text label="Simulations" text="{{account.detail.simulations.length}}"></label-text>
            </ion-col>
            <ion-col>
              <label-text label="Last update" text="{{account.detail.softwarePackage.timestamp.toLocaleString()}}">
              </label-text>
            </ion-col>
            <ion-col>
              <label-text label="ID" text="{{account.info.uniqueId}}"></label-text>
            </ion-col>
          </ion-col>
          <ion-col>
            <ion-col>
              <ion-label>
                <ion-text color="primary">Software:</ion-text>
                <ion-list *ngFor="let item of account.detail.softwarePackage.software">
                  <ion-text>
                    {{item.name}} <p>{{item.version}}</p>
                  </ion-text>
                </ion-list>
              </ion-label>
            </ion-col>
          </ion-col>

        </ion-row>
      </ion-grid>

      <ion-button *ngIf="!editActive" (click)="editActive=true">Edit</ion-button>
      <ion-button *ngIf="editActive" (click)="editActive=false">Save</ion-button>
    </ion-item>
  </ion-list>
</ion-content>