<team-toolbar [team]="team" [readOnly]="false">
</team-toolbar>
<ion-content>
  <ion-list *ngFor="let account of accounts">
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-col>
              <ion-label position="flotaing">
                <ion-text color="primary">Name:</ion-text> {{account.info.name}}
              </ion-label>
            </ion-col>
            <ion-col>
              <ion-label position="flotaing">
                <ion-text color="primary">CPUs:</ion-text>{{account.info.cpus}}
              </ion-label>
            </ion-col>
            <ion-col>
              <ion-label position="flotaing">
                <ion-text color="primary">Simulations:</ion-text>{{account.detail.simulations.length}}
              </ion-label>
            </ion-col>
            <ion-col>
              <ion-label position="flotaing">
                <ion-text color="primary">Last update:</ion-text>
                {{account.detail.softwarePackage.timestamp.toLocaleString()}}
              </ion-label>
            </ion-col>
            <ion-col>
              <ion-label position="floating">
                <ion-text color="primary">Id: </ion-text>{{account.info.uniqueId}}
              </ion-label>
            </ion-col>
          </ion-col>
          <ion-col>
            <ion-col>
              <ion-label>
                <ion-text color="primary">Software:</ion-text>
                <ion-list *ngFor="let item of account.detail.softwarePackage.software">
                  <ion-text>
                    {{item.name}} <p>{{item.version}}</p>
                  </ion-text>
                </ion-list>
              </ion-label>
            </ion-col>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>