.col-separator {
    border-right: 1px solid var(--ion-color-primary);
}

.account-details {
    padding-left: 10px
}

.col:last-child {
    border-right: solid 1px grey;
}

.row:last-child .col {
    border-bottom: solid 1px grey;
}

.col {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
}
