<ion-header>
  <ion-title>{{team.name}}</ion-title>
  <ion-title>{{team.usedBudget.toLocaleString()}} of {{team.budget.toLocaleString()}}</ion-title>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="col-separator">
        <!--todo: collapse this one small screen, or show in a different way-->
        <ion-list *ngFor="let account of team.accounts">
          <ion-item>
            <ion-label>
              <h3>{{account.name}}</h3>
              <p>CPUs: {{account.cpus}}</p>
            </ion-label>
            <ion-checkbox slot="end" [(ngModel)]="accountCheckedMapping[account.id]"
              (ionChange)="onAccountCheckChange(account.id)"></ion-checkbox>
          </ion-item>
        </ion-list>

      </ion-col>


      <ion-col>
        <p *ngIf="simulations.length === 0">
          <ion-text>No sims available!</ion-text>
        </p>
        <div *ngFor="let sim of simulations">
          <ion-text>{{sim.name}}</ion-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>